body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 22px;
  background: #f7f5f5;
  color:black;
}


.hero-container-guide {
  margin-top: 30px;
  position: relative;
}

.page-hero {
  max-width: 100%;
  max-height: 100%;
}

.page-parallelogram {
overflow: hidden;
position: absolute;
left: -10%;
background-color: #030D2D;
width: 50%;
height: 100%;
transform: skew(333deg);
}

/* Makes Hero Heading and Title appear on top of the parallelogram */
.hero-left, .page-parallelogram{
  position: absolute;
  top: 0;
}


.hero-heading {
  text-decoration: underline;
  text-decoration-color: #FA114F;
}

.hero-left {
  color: #fff;
  inline-size: 320px;
  text-align: center;
  padding: 120px 20px 20px 120px;
}


/* Top Navigation */
.link {
  padding: 5px 10px;
  background: #030D2D;
  color: #eee;
  text-decoration: none;
}


/*Makes the sticky navigation stick */
.stick-it {
  position: fixed;
  top:67px;
  z-index: 1;
  right: 125px;
}

.sticky-nav {
  background: #fff;
  border: 0px solid rgba(51, 51, 51, 0.06);
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
  width: 275px;
  position: fixed;
  z-index: 0;
  right: 60px;
  overflow-x: hidden;
  padding: 30px;
}

/* This adjustment is so that the page scrolls to the correct place when you hit the nav links */
.anchor { 
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}


/* Style the sticky nav links */
.sticky-nav li {
  list-style-type: none;
  position: relative;
  margin-bottom: 15px;
}

/*  Make the active link different */
.is-active {
  font-weight: 700;
  color: #030D2D !important;
}
.is-active a {
  font-weight: 700;
}
.is-active a:link, .is-active a:visited, .is-active a:hover, .is-active a:active, .is-active a:focus {
  color: #030D2D;
}
.is-active::before {
  position: absolute;
  content: "\25C0";
  font-size: 10px;
  margin-left: -35px;
  margin-top: 5px;
}

.page-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgb(51 51 51 / 20%);
  overflow: hidden;
  max-width: 896px;
  padding: 60px;
  margin-left: 60px;
}

.page-container {
  grid-template-columns: 996px auto;
  grid-template-rows: auto;
  grid-gap: 75px;
  grid-template-areas: "content nav";
  margin-top: 30px;
}


/* images in page card */
img {
  max-width: 500px;
}

/* Scroll to Top */
#return-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #FA114F; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 35px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

/* ==========================================================*/

/* For mobile phones - hides navbar */

@media only screen and (max-width: 768px)
{
.sticky-nav {
    display: none;
 }

 /* Hides Guide Title in Mobile */
.hero-container-guide h1 {
  display: none;
}

.hero-left, .page-parallelogram{
  position: absolute;
  top: 0;
}

.page-parallelogram {
  overflow: hidden;
  position: absolute;
  left: -15%;
  background-color: #030D2D;
  width: 55%;
  height: 100%;
  transform: skew(333deg);
  }

.hero-left {
  color: #fff;
  padding: 20px 20px 20px 20px;
  font-size: 40px;
  margin-left: -70px;
  margin-top: -8px;
}

.page-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgb(51 51 51 / 20%);
  overflow: hidden;
  max-width: 896px;
  padding: 60px;
  margin-left: 5px;
}

}

/* Hides scroll to top button on screens that are 600px or larger */

 @media screen and (min-width: 768px) {
  .guide-title {
    visibility: hidden;
    display: none;
  }

  .top-scroll {
      visibility: hidden;
  }

  /* Hides page links on screens that are 600px or larger */
  /* .page-links {
    display: none;
  } */


}