<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
    <!-- <title>This is a {{page.title}} Page</title> -->
    <title>Welcome to the Guide Pages Prototype!</title>
    <a class="link" href="index.html">Home</a>
    <a class="link" href="https://github.com/hackforla/website/issues/1085">Issue</a>
    <a class="link" href="https://github.com/alyssabenipayo/guidepages-prototype">Repository</a>
    <a class="link" href="https://hackforla.org/">Hack for LA</a>
</head>

