<body>
  <div class=anchor>
    <nav id="sticky-nav" class="sticky-nav">
        <header>Navigation</header>
        <ul>
          <li><a class="is-active" href="#getting-the-most-out-of-github-issues"> Example of a Good End-to-End Issue </a><br></li>
          <li><a href="#issue-sections-descriptions-and-tips"> Issue Sections - Description and Tips </a></li>
        </ul> 
        </nav>
  </body>

<!-- Include javaScript -->
<script src="{{ '/assets/js/guidepages.js' | absolute_url }}"></script>
  