---
layout: default
---
{% if page.sections %}
<body>
  
    <a class=anchor></a>
      <nav id="sticky-nav" class="sticky-nav">
          <ul>
            {% for section in page.sections %}
            <li><a href="{{ section.href }}"> {{ section.title }} </a><br>
              {% if section.subsection[0] %}
              <ul><br>
                {% for subsection in section.subsection %}
                <li><a href="{{ subsection.href }}">{{ subsection.title }}</a></li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul> 
        </nav>
        {% endif %}
    </body>




  <!-- Include javaScript -->
  <script src="{{ '/assets/js/guidepages.js' | absolute_url }}"></script>
  <div class=page-card>
    {{content}}
    </div>



