---
layout: default
---
{% if page.sections %}
<body>
  
  <!-- <img class='page-hero' src="images/guide-page-hero.png"> -->

    <a class=anchor></a>
      <nav id="sticky-nav" class="sticky-nav">
          <header>Navigation</header>
          <ul>
            {% for section in page.sections %}
            <li><a href="{{ section.href }}"> {{ section.title }} </a><br>
              {% if section.subsection[0] %}
              <ul><br>
                {% for subsection in section.subsection %}
                <li><a href="{{ subsection.href }}">{{ subsection.title }}</a></li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul> 
        </nav>
    </body>
{% endif %}


  <!-- Include javaScript -->
  <script src="{{ '/assets/js/guidepages.js' | absolute_url }}"></script>
{{content}}


